{% extends "base.html" %}

{% block form %}
    <form action="{% url "accueil" %}" method="POST" class="form-inline">
        {% csrf_token %}
        <div class="input-group">
            <div class="custom-file">
                <input type="text" name="recherche" size="40" class="form-control"/>
            </div>
            <div class="input-group-append">
                <input type="submit" value="Rechercher Album" class="btn btn-primary" />
            </div>
        </div>


    </form>
{%  endblock %}



{% block nav %}
    <table class="table table-hover table-bordered">
        {% for album in list_albums %}
            <tr>
                <td> <a href="{% url 'Lire contenu album' id=album.id %}">{{ album.title }}</a></td>
            </tr>

        {% empty %}
        <p> Aucun Album de la base de donnée ne contient "{{ album_recherche }}".</p>
        {% endfor %}
    </table>
{% endblock %}

