{% extends "disks/accueil.html" %}
{% block content %}
    <h2>{{ album.title }}</h2>
    <hr>
    <b>Artiste:</b>
    {{ album.artist }}
    <br>
    <b>Titres</b>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="text-center align-middle">Nom</th>
                <th class="text-center align-middle">Compositeur</th>
                <th class="text-center align-middle">Durée</th>
                <th class="text-center align-middle">Prix Unitaire</th>
            </tr>
        </thead>
        <tbody>
             {% for titre in titres_de_l_album %}
                <tr>
                     <td>{{ titre.name }}</td>
                    <td>{{ titre.composer }}</td>
                    <td>{{ titre.milliseconds }} ms</td>
                    <td>{{ titre.unitPrice }} $</td>
                </tr>


            {% empty %}
                <p> Aucun titre dans l'album.</p>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}