{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Alexis Le Penven">
    <title>{% block title %} Disks {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

<div class="contenu_global">
    <div class="en-tête">
        <div class="titre">
            <h1>Albums</h1>
        </div>
        <div class="recherche"></div>
    </div>
    <hr>
    <div class="contenu">
        <div class="liste_album">
            {% block nav %}
            {% endblock %}
        </div>
        <div class="contenu_album">
            {% block content %} {% endblock %}
        </div>
    </div>
    <footer>&copy; Alexis Le Penven</footer>
</div>
</body>

</html>